
.app-song-list-item { display: inline-block; width: 33%; text-align: center; }

.app-song-list-item-pic { margin: 0 auto; width: 90%; }
.app-song-list-item-pic img { width: 100%; }
.app-song-list-item-pic span { position: relative; padding: .2em 1em; float: right; margin-bottom: -100%; background: rgb(0, 0, 0, 0.2); }
.app-song-list-item-pic span p { font-size: .8em; color: #fff; }

.app-song-list-item-description {  }